.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px
}

.headerText {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    color: #333
}


.headerButton {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.Header {
    font-size: 1em;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.title {
    margin: 5px 10px;
    width: auto;
    max-width: 350px;
    border: none;
    font-size: 2em;
    padding: 3px 7px;
}

.title:focus {
    outline: 2px grey solid;
    border-radius: 5px;
}